<div class="page-divider"></div>
<footer>
  <div class="footer-main">
    <div class="footer-logo">
      <img src="/assets/logo-rooster.jpg" alt="Logo" />
      <span>ESCOLA PORTUGUESA NOSSA SENHORA DE F&Aacute;TIMA</span>
    </div>

    <p>
      Preserving Portuguese language and culture in Vancouver for over 40 years.
      We provide quality Portuguese education for children from kindergarten
      through grade 12.
    </p>
  </div>
  <p>
    &copy; 2026 Escola Portuguesa Nossa Senhora de Fátima. All rights reserved.
    Website hand-crafted by <a href="https://mowlavi.ca">Mesbah Mowlavi</a>.
  </p>
</footer>
