<header>
  <div class="container">
    <div class="logo-group">
      <img src="/assets/logo-rooster.jpg" alt="Logo" />
      <span>ESCOLA PORTUGUESA<br />NOSSA SENHORA<br />DE F&Aacute;TIMA</span>
    </div>

    <nav>
      <ul>
        <li class="nav-home"><a href="/">Home</a></li>
        <li class="nav-about"><a href="/about/">About</a></li>
        <li class="nav-curriculum"><a href="/curriculum/">Curriculum</a></li>
        <li class="nav-calendar"><a href="/calendar/">Calendar</a></li>
        <li class="nav-contact"><a href="/contact/">Contact</a></li>
        <li class="nav-register"><a href="/contact/">Register</a></li>
      </ul>
    </nav>
  </div>
</header>
